html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Catamaran";
}

header.header-app {
    width: auto;
    padding: 2rem;
    min-height: 210px;
    color: white;
    text-align: right;
    background: rgba(162,160,176,1);
    background: -moz-linear-gradient(45deg, rgba(162,160,176,1) 0%, rgba(106,91,156,1) 49%, rgba(79,68,128,1) 50%, rgba(22,21,69,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(162,160,176,1)), color-stop(49%, rgba(106,91,156,1)), color-stop(50%, rgba(79,68,128,1)), color-stop(100%, rgba(22,21,69,1)));
    background: -webkit-linear-gradient(45deg, rgba(162,160,176,1) 0%, rgba(106,91,156,1) 49%, rgba(79,68,128,1) 50%, rgba(22,21,69,1) 100%);
    background: -o-linear-gradient(45deg, rgba(162,160,176,1) 0%, rgba(106,91,156,1) 49%, rgba(79,68,128,1) 50%, rgba(22,21,69,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(162,160,176,1) 0%, rgba(106,91,156,1) 49%, rgba(79,68,128,1) 50%, rgba(22,21,69,1) 100%);
    background: linear-gradient(45deg, rgba(162,160,176,1) 0%, rgba(106,91,156,1) 49%, rgba(79,68,128,1) 50%, rgba(22,21,69,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2a0b0', endColorstr='#161545', GradientType=1 );
}

.header-app h1 {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 96px;
    letter-spacing: 2px;
    line-height: 1;
    margin: 2rem 0 0;
    padding: 0;
    text-shadow: 0 8px 24px rgb(35, 5, 83);
    word-break: break-word;
}

.header-app h2 {
    font-weight: 200;
    margin: 0;
    padding: 0;
}

.content, #search-city {
    margin: 2rem;
    padding: 2rem;
    border: 2px solid #00000045;
    border-radius: 1rem;
    background-color: #f2e1ff78;
}

h2.query-title {
    margin: 0;
    font-size: 2rem;
    color: #780c7a;
}

.result {
    display: grid;
    align-content: center;
    grid-template-columns: repeat(auto-fit, minmax(auto, 300px));
    grid-gap: 40px;
    width: 100%;
    margin: auto;
    align-items: center;
    padding-top: 2rem;
    justify-content: center;
}

.result-item {
    border-radius: 1rem;
    background-color: white;
    overflow: hidden;
    position: relative;
    box-shadow: 0 8px 16px 0 rgba(11, 128, 99, 0.27);
}

.result-item h3 {
    margin: 0;
    padding: 1rem;
    padding-bottom: 1.5rem;
    font-size: 2rem;
    text-align: center;
    background: #173f88;
    color: white;
    letter-spacing: 1px;
    font-weight: 100;
}

.result-item > h4, .result-item > ul {
    margin-left: 1rem;
    margin-right: 1rem;
}

.result-item > h4 {
    position: absolute;
    text-align: center;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    color: #ffffffad;
    transform: translateY(-3rem);
    font-size: 12px;
    letter-spacing: 0.5px;
}

#search-city {
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#search-city label {
    margin-right: 1rem;
}

#search-city input {
    font-size: 1.2rem;
    font-family: "Catamaran";
    padding: 0.2rem 1.1rem;
    border-radius: 2rem;
    border: none;
    background-color: #554d82;
    color: #ffffffbd;
    font-weight: 200;
}

#search-city input:focus {
    box-shadow: 0 0 4px 4px rgba(117, 140, 255, 0.81);
    outline: none;
}

#search-city button {
    margin: 0 1rem;
    padding: 0.5rem 1rem 0.2rem;
    border: none;
    font-family: "Catamaran";
    font-size: 1rem;
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #6c509c;
    color: white;
    cursor: pointer;
    border-bottom: 2px solid #4a427b;
    transition: 0.1s all ease;
}

#search-city button:hover {
    margin: 0 1rem;
    background-color: #8262b9;
}