<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:200,400,700,900&display=swap" rel="stylesheet">
  <title>Cari Kota Skuy</title>
  <link href="css/main.css" rel="stylesheet">
</head>
<body>
  <header class="header-app">
    <h1>Cari Kota Skuy</h1>
    <h2>Diberdayakan oleh MetaWeather</h2>
  </header>
  
  <div class="container">
    <form id="search-city" class="form" action="/" method="GET">
      <label for="search-city-input">Cari kota</label>
      <input id="search-city-input" type="text" placeholder="Contoh: Jakarta" name="city" value="{% if query != None %}{{ query }}{% endif %}"/>
      <button type="submit">Cari</button>
    </form>
    {% if query != None %}
    <div class="content">
      <h2 class="query-title">Hasil Pencarian untuk "{{ query }}"</h2>
      <div class="result">
        {% for item in cities if item.location_type == 'City' %}
          <div class="result-item">
            <h3>{{ item.title }}</h3>
            <h4>ID: {{ item.woeid }}</h4>
            <ul class="city-detail">
              <li><strong>Latitude:</strong> {{ item.latt_long.split(',')[0] }}</li>
              <li><strong>Longitude:</strong> {{ item.latt_long.split(',')[1] }}</li>
            </ul>
          </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>
</body>
</html>
